@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --myzinc-100: #efefef;
  --myzinc-200: #8c8c8c;
  --myzinc-300: #d4d4d8;

  --myblue-300: #90bdff;
  --myblue-400: #78a8ee;
  --myblue-500: #408dfe;

  --myneutral-300: #d9d9d9;
  --myneutral-350: #d1d1d1;
  --myneutral-400: #9f9f9f;
  --myneutral-450: #b3b3b3;
  --myneutral-475: #a9a9a9;
  --myneutral-500: #646363;
  --myneutral-550: #838383;
  --myneutral-600: #626262;
  --myneutral-700: #414141;
  --myneutral-800: #323131;
  --myneutral-850: #262626;
  --myneutral-900: #282828;

  --mygray-100: #eeeff4;
  --mygray-150: #f5f6fa;
  --mygray-200: #edeef3;

  --mywhite: #ffffff;

  --myemerald-400: #03d89f;

  --myviolet-50: #f2f0fa;

  --mysky-800: #1e54a4;

  --myblack-800: #000000;

  /* Fonts */
  --myfont-sans: 'Montserrat', Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Defined Custom Colors */
  --color-myzinc-300: var(--myzinc-300);
  --color-myzinc-100: var(--myzinc-100);
  --color-myzinc-200: var(--myzinc-200);
  --color-myblue-500: var(--myblue-500);
  --color-myblue-400: var(--myblue-400);
  --color-myblue-300: var(--myblue-300);
  --color-myneutral-500: var(--myneutral-500);
  --color-myneutral-550: var(--myneutral-550);
  --color-myneutral-800: var(--myneutral-800);
  --color-myneutral-300: var(--myneutral-300);
  --color-myneutral-350: var(--myneutral-350);
  --color-myneutral-600: var(--myneutral-600);
  --color-myneutral-700: var(--myneutral-700);
  --color-myneutral-400: var(--myneutral-400);
  --color-myneutral-450: var(--myneutral-450);
  --color-myneutral-475: var(--myneutral-475);
  --color-myneutral-850: var(--myneutral-850);
  --color-myneutral-900: var(--myneutral-900);
  --color-mygray-200: var(--mygray-200);
  --color-mygray-100: var(--mygray-100);
  --color-mygray-150: var(--mygray-150);
  --color-mywhite: var(--mywhite);
  --color-myemerald-400: var(--myemerald-400);
  --color-myviolet-50: var(--myviolet-50);
  --color-mysky-800: var(--mysky-800);
  --color-myblack-800: var(--myblack-800);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-geist-poppins);
  --font-barlow: var(--font-geist-barlow);
  --font-mysans: var(--font-mysans);
}

/* Hide scrollbar on all screens */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
